.blogcard {
  border: 2px solid black;
  background-color: var(--white);
  width: min(90%, 400px);
  border-radius: 20px;
  padding: 20px;
  transition: var(--animation-speed);

  &:hover {
    cursor: pointer;
    box-shadow: 10px 10px 0 0 #000;
  }

  @media (prefers-reduced-motion: reduce) {
    animation: none;
  }
}

.blogcard__thumbnail {
  border-radius: 20px;
  width: 100%;
}

.blogcard__info {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  align-items: start;
  gap: 10px;
}

.blogcard__tag {
  background-color: var(--yellow);
  padding: 5px;
  border-radius: 8px;
  font-weight: var(--fw-bold);
}

.blogcard__heading {
  font-weight: var(--fw-bold);
  font-size: clamp(1.5rem, 0.8rem + 1vw, 1.8rem);
  transition: var(--animation-speed);

  &:hover {
    color: var(--yellow);
  }
}

.blogcard__description {
  color: var(--gray-500);
}

.blogcard__author {
  display: flex;
  flex-direction: row;
  font-weight: var(--fw-bold);
  align-items: center;
  gap: 10px;
}
