@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

body {
  /* 4. Increase line-height */
  line-height: 1.5;

  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

:root {
  --yellow: hsl(47deg 88% 63%);
  --white: hsl(0deg 0% 100%);
  --gray-500: hsl(0deg 0% 42%);
  --gray-950: hsl(0deg 0% 7%);
  --fs: 16px;
  --ff-reg: "Figtree";
  --fw-regular: 500;
  --fw-bold: 800;
  --animation-speed: 0.3s;
}

#body {
  font-family: var(--ff-reg), serif;
  font-weight: var(--fw-regular);
  font-optical-sizing: auto;
  font-style: normal;
  background-color: var(--yellow);
  font-size: clamp(0.25rem, 0.8rem + 1vw, 1rem);
}

#main {
  min-height: 100svh;
  display: grid;
  place-items: center;
}
